<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.talang.wabackend.mapper.PostingMapper">
    <delete id="deletePosting">
        delete
        from sd_postings
        where id in
        <foreach collection="posting" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

    <select id="getDeletePostingCommentId" resultType="java.lang.Integer">
        select comment_id from sd_postings
        where id in
        <foreach collection="postingId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deletePostingComment">
        delete
        from sd_postings_comment
        where id in
        <foreach collection="commentId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>