<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.talang.wabackend.mapper.PostMapper">

    <insert id="insertImage" parameterType="java.util.List">

        insert into sd_post_images (post_id, sdimage_id) values

        <foreach collection="sdimageList" item="imageId" separator=",">
            (#{postId}, #{imageId})
        </foreach>

    </insert>

</mapper>