<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.talang.wabackend.mapper.ImageFromSdmodelsMapper">

    <resultMap id="BaseResultMap" type="org.talang.wabackend.model.generator.ImageFromSdmodels">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="sdimage_id" column="sdimage_id" jdbcType="VARCHAR"/>
            <result property="sdmodel_id" column="sdmodel_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sdimage_id,sdmodel_id
    </sql>
</mapper>
