<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.talang.wabackend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.talang.wabackend.model.generator.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_name" column="user_name" jdbcType="INTEGER"/>
            <result property="nick_name" column="nick_name" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="is_delete" column="is_delete" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="DATE"/>
            <result property="update_time" column="update_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,nick_name,
        email,avatar,is_delete,
        create_time,update_time
    </sql>
</mapper>
